/* 質問 */


/* 答え */


/* Question_pop画像 */
.Question_pop img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Question_pop画像を水平方向に中央揃えにする */
.center-image {
    max-width: 100%; /* 画像の最大幅を100%に設定 */
    max-height: 100%; /* 画像の最大高さを100%に設定 */
    margin-bottom: 3rem;
}

/* Question_pop画像を含むラッパー */
.Question_wrapper {
    position: relative; /* 子要素を絶対位置に配置するための相対位置指定 */
}

/* 画像の上に重ねるオーバーレイ */
.overlay {
    position: absolute; /* 相対位置に対して絶対位置で配置 */
    top: 0; /* 上端に配置 */
    left: 0; /* 左端に配置 */
    width: 100%; /* 幅を親要素と同じに設定 */
    height: 100%; /* 高さを親要素と同じに設定 */
    display: flex; /* 子要素を中央に配置するために Flexbox を使用 */
    justify-content: center; /* 横方向中央に配置 */
    align-items: center; /* 縦方向中央に配置 */
    pointer-events: none; /* オーバーレイ上の要素へのクリックを無効にする */
}