<p>/app/views/girudo_questions/index.html.erb</p>

<!-- CSSファイルを読み込む -->
<%= stylesheet_link_tag 'girudo_questions/index' %>

<!-- HTMLファイル -->
<div class="grid-container">
  <% @girudo_questions.each do |girudo_question| %>
    <% first_question_id = girudo_question.questions.order(:id).first.id %>
    <div class="grid-item">
      <%= link_to image_tag("girudo#{girudo_question.id}.png"), question_path(first_question_id) %>
    </div>
  <% end %>
</div>
