<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>

<p>質問: <%= @question.question_text %></p>

<% if @next_question %>
  <%= link_to 'NEXT', question_path(@next_question) %>
<% else %>
  <%= link_to 'リザルトへ', results_path %>
<% end %>