<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="UTF-8">

 <%# モバイルなどの小さい画面を持つデバイスでウェブページを表示する際に、ビューポートの設定を指定するためのHTMLメタタグ %>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <%# 羽画像 %>
  <div class="hane">
    <img src="/assets/hane.gif" alt="hane.gif">
  </div>


  <%# 魔法少女の名称 %>
  <% if @job_profile.present? %>
    <div class="magical_girl_image_name">
      <%= image_tag @job_profile.image_url_magicalgirl_name, alt: 'Magical Girl Imagename' %>
    </div>
  <% end %>


  <%# 魔法少女のイメージ画像 %>
  <% if @job_profile.present? %>
    <div class="magical_girl_image_gazo">
      <%= image_tag @job_profile.image_url_magicalgirl_gazo, alt: 'Magical Girl Imagegazo' %>
    </div>
  <% end %>


  <%# 魔法少女の説明 %>
  <% if @job_profile.present? %>
    <div class="job_profile_content">
      <%= simple_format(@job_profile.content) %>
    </div>
  <% end %>




<a href="https://twitter.com/intent/tweet?text=私は★★に変身しました🌟&url=https://magical-girl-zero-027819c943b4.herokuapp.com/&hashtags=魔法少女Level0,まほゼロ,自己診断アプリ" target="_blank">Twitterでシェア</a>
<a target="_blank" href="https://x.com/share?url=https://magical-girl-zero-027819c943b4.herokuapp.com/&amp;text=私は★★に変身しました🌟%0a%0a %23魔法少女Level0 %23まほゼロ %23自己診断アプリ">結果を<i class="fa-brands fa-x-twitter"></i>シェアする</a>  

<a target="_blank" href="https://x.com/share?url=https://magical-girl-zero-027819c943b4.herokuapp.com/&amp;text=私は★★に変身しました🌟%0a%0a %23魔法少女Level0 %23まほゼロ %23自己診断アプリ">
  結果をシェアする
</a>

<a target="_blank" href="https://twitter.com/intent/tweet?url=https://magical-girl-zero-027819c943b4.herokuapp.com/&amp;text=私は★★に変身しました🌟%0a%0a %23魔法少女Level0 %23まほゼロ %23自己診断アプリ">
結果をシェアする
</a>

</body>
</html>