<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">

  <!-- モバイルなどの小さい画面を持つデバイスでウェブページを表示する際に、ビューポートの設定を指定するためのHTMLメタタグ -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- NES.css CDNリンク -->
<link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet">

<!-- 外部のCSSファイルをリンク -->
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/results/index.css">
</head>

<!-- Swiper CSS -->
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper/swiper-bundle.min.css"/>


<body>
  <h1>Results#index</h1>
  <p>Find me in app/views/results/index.html.erb</p>
  <p>あなたの結果は <%= session[:result] %> です。合計ポイント: <%= session[:answers]['YES'] %></p>

  <div class="girudo1_1_title">
    <img src="/assets/girudo1_1.gif" alt="girudo1_1 GIF">
  </div>

  <div class="girudo1_1">
    <img src="/assets/girudo1_1.svg" alt="girudo1_1">
  </div>

<!-- 
  <div class="nes-container is-dark with-title">
    <p class="title">ユニークスキル</p>
    <p>・変革の風： 伝統を打ち破り、周囲の環境を一新する魔法で、一定時間、味方の特殊能力を強化。</p>
    <p>・進化の輪： 革新的な技術を戦場に展開し、味方の攻撃方法を一時的に変化させ、敵に予測不能なダメージを与える。</p>
    <p>・技術革新の陣： 最先端の技術を用いて特殊な陣を形成し、その範囲内の味方は回避率と攻撃速度が上昇。</p>
  </div>

  <div class="nes-container is-dark with-title">
    <p class="title">弱点</p>
    <p>・変革の風： 伝統を打ち破り、周囲の環境を一新する魔法で、一定時間、味方の特殊能力を強化。</p>
    <p>・進化の輪： 革新的な技術を戦場に展開し、味方の攻撃方法を一時的に変化させ、敵に予測不能なダメージを与える。</p>
    <p>・技術革新の陣： 最先端の技術を用いて特殊な陣を形成し、その範囲内の味方は回避率と攻撃速度が上昇。</p>
  </div>

  <div class="nes-container is-dark with-title">
    <p class="title">リフレッシュ方法</p>
    <p>・変革の風： 伝統を打ち破り、周囲の環境を一新する魔法で、一定時間、味方の特殊能力を強化。</p>
    <p>・進化の輪： 革新的な技術を戦場に展開し、味方の攻撃方法を一時的に変化させ、敵に予測不能なダメージを与える。</p>
    <p>・技術革新の陣： 最先端の技術を用いて特殊な陣を形成し、その範囲内の味方は回避率と攻撃速度が上昇。</p>
  </div>

  <div class="nes-container is-dark with-title">
  <p class="title">向いてる職業</p>
  <p>・変革の風： 伝統を打ち破り、周囲の環境を一新する魔法で、一定時間、味方の特殊能力を強化。</p>
  <p>・進化の輪： 革新的な技術を戦場に展開し、味方の攻撃方法を一時的に変化させ、敵に予測不能なダメージを与える。</p>
  <p>・技術革新の陣： 最先端の技術を用いて特殊な陣を形成し、その範囲内の味方は回避率と攻撃速度が上昇。</p>
  </div>
-->

<!-- スライドの外枠 -->
<div class="slide-wrapper">
  <!-- スライド（コンテンツ） -->
  <div id="slide" class="slide">
    <div>
    <div class="nes-container is-dark with-title">
      <p class="title">ユニークスキル</p>
      <br>・変革の風： 伝統を打ち破り、周囲の環境を一新する魔法で、一定時間、味方の特殊能力を強化。<br>
      <br>・進化の輪： 革新的な技術を戦場に展開し、味方の攻撃方法を一時的に変化させ、敵に予測不能なダメージを与える。<br>
      <br>・技術革新の陣： 最先端の技術を用いて特殊な陣を形成し、その範囲内の味方は回避率と攻撃速度が上昇。<br>
    </div>
    </div>
    <div>
      <p class="title">弱点</p>
      <p>・変革の風： 伝統を打ち破り、周囲の環境を一新する魔法で、一定時間、味方の特殊能力を強化。</p>
      <p>・進化の輪： 革新的な技術を戦場に展開し、味方の攻撃方法を一時的に変化させ、敵に予測不能なダメージを与える。</p>
      <p>・技術革新の陣： 最先端の技術を用いて特殊な陣を形成し、その範囲内の味方は回避率と攻撃速度が上昇。</p>
    </div>
    <div>
      <p>スライド３</p>
    </div>
  </div>
  <!-- 左右のボタン -->
  <span id="prev" class="prev"></span>
  <span id="next" class="next"></span>
  <!-- インジケーター -->
  <ul class="indicator" id="indicator">
    <li class="list"></li>
    <li class="list"></li>
    <li class="list"></li>
  </ul>
</div>

</body>

</html>